# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.log
*.pot
*.sqlite3

# Virtualenv
venv/
env/
ENV/
.venv/
.Python

# Django
*.db
db.sqlite3
local_settings.py

# Static and Media
/static/
/staticfiles/
/media/

# Tailwind (Node/NPM)
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# macOS
.DS_Store

# Environment files
.env
*.env

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py

# Build files
build/
dist/
*.egg-info/

# Render specific
*.render-log
render.yaml

# OS / Editor backup files
*.swp
*~
*.bak
